input/**
output/**
slurm/**
dbs/**
.snakemake/**
.snakemake
run_snakemake.sh
short_reads_processing_test.R
Rplots.pdf
test/output/**
test/dbs/uniref50/uniref50_mmseqs
test/dbs/uniref50/uniref50_mmseqs.*
test/dbs/uniref50/uniref50_mmseqs_h
test/dbs/uniref50/uniref50_mmseqs_h.*
test/dbs/uniref50/uniref50_mmseqs_mapping
test/dbs/uniref50/uniref50_mmseqs_taxonomy
test/dbs/amrfinder/afp_db*
test/dbs/markers/markers_db*
test/dbs/markers/markers.fa
test/dbs/scg/scg_db.dmnd
.github/copilot-instructions.md
